{% extends 'base.html' %}

{% block title %}Titre{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}! Visit n° {{ visits }}</h1>
    {% else %}
        <h1>Rango says... hello world!</h1>
    {% endif %}
    {% if categories %}
        <p>Categories: </p>
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a> - likes : {{ category.likes }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No categories.</p>
    {% endif %}
    {% if pages %}
        <p>Pages: </p>
        <ul>
            {% for page in pages %}
                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a> - views : {{ page.views }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
    {% endif %}

{% endblock %}